body {
  font-family: sans-serif;
  font-size: 16px;
  margin: 0;
  font-family: 'Quattrocento Sans', sans-serif;
  background-color: #F2F2F2;
}
/*F2CE90
69898C
865952
F25E5E
F2F2F2*/
p {
  background-color: #F25E5E;
}
.front-page {
  margin: 10vh auto;
  text-align: center;
  width: 70vw;
  padding: 20vh;
  border-radius: 2vw;
  background-color: #F2CE90;
}
.front-page h1 {
  font-size:10vh;
  margin: none;
}
.front-page .start {
  background-color: #F25E5E;
  border-radius: 2vh;
  color: black;
  font-size: 8vh;
  text-decoration: none;
}
.edit-tournament-page {
  margin: 10vh auto;
    text-align: center;
    width: 70vw;
    padding: 10vh;
    border-radius: 2vw;
    background-color: #F2CE90;
}
.edit-tournament-page h4 {
  font-size: 3vh;
}
.edit-tournament-page .name-container {
  display: flex;
}
.edit-tournament-page .name-container input {
  width: 25%;
}
.edit-tournament-page button {
  margin-top: 2vh;
}
.first-round {
  border: solid black 1px;
  display: flex;
}
.first-round .match{
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.first-round .match .competitor {
  padding: 1vh;
  margin: 0;
  border: solid black 1px;
  display: inline-block;
  height: 50%;
  width: 100%;
}
.first-round a {
  width: 25%;
  text-align: center;
  text-decoration: none;
  color: black;
}

.edit-page {
  margin: 10vh auto;
    text-align: center;
    width: 70vw;
    padding: 20vh;
    border-radius: 2vw;
    background-color: #F2CE90;
}

.tournament-container {
  display: flex;
  flex-direction: column;
  margin: 10vh auto;
  text-align: center;
  height: 70vh;
  width: 70vw;
  border-radius: 2vw;
  background-color: #F2CE90;
}
.brackets {
  flex-direction: row;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 75%;
}
.data {
  width: 100%;
  height: 25%;
}
.first-round-container {
  width: 50%;
}
.first-round {
  background-color: #CECECE;
  width: 50%;
  margin: auto;
  margin-top: 15vh;
}
.final-round-container {
  margin-top: auto;
  width: 50%;
  height: 75%;
}
.final-round {
  background-color: #CECECE;
  width: 50%;
  margin:auto;
}
.edit-match-page {
  margin: 10vh auto;
  text-align: center;
  width: 70vw;
  padding: 20vh;
  border-radius: 2vw;
  background-color: #F2CE90;
}
.edit-match-page h2 {
  font-size: 3vh;
}




