<% include ../partials/boilerplate %>
  <div class='tournament-container'>
    <div class="first-round-container">
      <div  class="first-round east">
        <div>
          <p class="competitor"><span><%= matches[0].comp_a_id%></span></p>
          <p class="competitor"><span><%= matches[0].comp_b_id %></span></p>
        </div>
      </div>
      <div class="first-round west">
        <div>
          <p class="competitor"><span><%= matches[1].comp_a_id %></span></p>
          <p class="competitor"><span><%= matches[1].comp_b_id %></span></p>
        </div>
      </div>
    </div>
    <div class="final-round-container">
      <div class="final-round ">
        <div>
          <p class="competitor"><span>filler</span></p>
          <p class="competitor"><span>filler</span></p>
        </div>
      </div>
    </div>
  </div>
<% include ../partials/end %>
