<% include ../partials/boilerplate %>
  <div class='tournament-container'>
    <div class="first-round-container">
      <div  class="first-round east">
        <%- include('../partials/match', {match: matches[0]}); %>
      </div>
      <div class="first-round west">
        <div>
          <%- include('../partials/match', {match: matches[1]}); %>
        </div>
      </div>
    </div>
    <div class="final-round-container">
      <div class="final-round ">
        <%- include('../partials/match', {match: matches[2]}); %>
      </div>
    </div>
  </div>
<% include ../partials/end %>
