<% include ../partials/boilerplate %>
  <div class='tournament-container'>
    <div  class="first-round-1">
      <div>
        <p class="competitor"><span></span></p>
        <p class="competitor"><span></span></p>
      </div>
    </div>
    <div class="first-round-2">
      <div>
        <p class="competitor"><span></span></p>
        <p class="competitor"><span></span></p>
      </div>
    </div>
  </div>
<% include ../partials/end %>
